@import '../../../node_modules/sanitize.css/sanitize.css';
@import 'config';
@import 'components/global-header';
@import 'components/about';
@import 'components/scale';
@import 'components/mock-box';
@import 'components/tools';
@import 'components/stylus';
@import 'components/download';
@import 'components/global-footer';



html,body {
	height: 100%;
}
body {
	font-size: 16px;
	font-family: "Helvetica Neue", sans-serif;
	background: url(../../images/bg.svg) repeat 0 0 #fff;
	color: #191919;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
figure {
	margin: 0;
}
p {
	margin: 0;
}

.wrapper {
	//margin-bottom: $unit4;
	min-height: 100%;
	box-sizing: border-box;
}