.about {
	//background: #1A67C8;
	border-bottom: 1px solid #BFBFBF;
	position: relative;
	padding-bottom: $unit6;
	@at-root {
		#{&}__ {
			@at-root {
				#{&}wrapper {
					@extend %content-wrapper;
				}
				#{&}capture {
					max-width: 100%;
					height: auto;
					position: relative;
					margin-bottom: $unit2;
					display: block;
				}
				#{&}title {
					@extend %subtitle-center;
					font-size: 28px;
					@include middle {
						text-align: left;	
						margin: 0 $unit4;
					}
				}
				#{&}text {
					@extend %text;
				}
				#{&}app-store {
					display: block;
					width: 162px;
					height: 48px;
					margin: 0 auto;
				}
			}
		}
	}
	//responsive
	@include x-small {
		padding-top: $unit3;
		padding-bottom: $unit3;
		&:before {
			height: 100px;
		}
		@at-root {
			#{&}__ {
				@at-root {
					#{&}title {
						margin-bottom: $unit2;
					}
					#{&}capture {
						margin-top: -1 * $unit3;
					}
				}
			}
		}
	}
}