.global-footer {
	//background: #333;
	height: $unit4;
	text-align: center;
	//color: #fff;
	position: relative;
	bottom: $unit4;
	left: 0;
	width: 100%;
	@at-root {
		#{&}__ {
			@at-root {
				#{&}wrapper {
					@extend %content-wrapper;
				}
				#{&}company {
					font-weight: 200;
					font-size: 14px;
					color: #BFBFBF;
					display: block;
					font-style: normal;
				}
				#{&}logo {
					height: 12px;
					width: auto;
					margin:0 4px;
					position: relative;
					bottom: 1px;
				}
			}
		}
	}
	//responsive
	@include middle {
		@at-root {
			#{&}__ {
				@at-root {
					#{&}wrapper {
						padding: 0 $unit4;
					}
				}
			}
		}
	}
	@include x-small {
		padding: $unit3 0;
		@at-root {
			#{&}__ {
				@at-root {
					#{&}wrapper {
						display: block;
					}
					
					#{&}company {
						text-align: left;
						margin-top: $unit2;
						font-size: 12px;
					}
				}
			}
		}
	}
}
